.separator {
  position: relative;
  min-width: 10%;
  flex: 1 1 auto;
}

.separatorDash {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
  top: 1px;
  border-top: 1px solid #666;
  border-top-style: dashed;
  outline: none;
}
