.btnContainer {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .btnContainer {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.submitBtn {
  margin: 0 auto;
  padding: 12px 25px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #14151a;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  outline: none;
  transition: all 250ms linear;
  cursor: pointer;
}
