.tagAnchor {
  display: inline-block;
  padding: 7px 12px;
  margin: 0 0.25rem 0.25rem 0;
  color: #fff;
  background-color: #333;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: none;
  line-height: 1.5;
  outline: none;
  transition: all 200ms linear;
  cursor: pointer;
}

.tagAnchor:hover {
  color: #fff;
  background-color: #555;
  text-decoration: none;
}
