.mainContainer {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 140px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .mainContainer {
    padding-bottom: 110px;
  }
}

@media (max-width: 991px) {
  .mainContainer {
    padding-bottom: 90px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.innerContainer {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .innerContainer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.formContainer {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .formContainer {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.sideCard {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .sideCard {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

.card {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: #14151a;
}

.cardTitle {
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.35;
}

.cardDescription {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mapContainer {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 140px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/img/map.jpg');
  overflow: hidden;
}

@media (max-width: 1199px) {
  .mapContainer {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

@media (max-width: 991px) {
  .mapContainer {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.mapInnerContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mapText {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  flex: 0 0 100%;
}

.mapTitle {
  margin-bottom: 0;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.35;
}

.mapAddress {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-top: 3rem;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .mapAddress {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.mapAnchor {
  color: #c4c3ca;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 2px;
  transition: all 250ms linear;
  cursor: pointer;
}
