.overHide {
  overflow: hidden;
  background-color: #1f2029;
}

.animsition {
  height: 100%;
  position: relative;
  animation-fill-mode: both;
  animation: showin 400ms;
}

@keyframes showin {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
