.inputContainer {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .inputContainer {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.input {
  position: relative;
  width: 100%;
  padding: 20px 20px;
  margin: 0;
  color: #fff;
  background-color: #14151a;
  font-weight: 400;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 1px;
  text-align: left;
  border: none;
  overflow: visible;
  transition: all 250ms linear;
  cursor: text;
}
